@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  color: var(--color);
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
/* ----------NAvigation Bar---------- */
header{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}
.logo img{
	width: 135px;
	height: auto;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--color);
	font-size: larger;
	font-weight: 600;
	padding: 10px 18px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.navbar a:hover{
	background: var(--secondary-color);
	color: var(--color);
}
#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

header.sticky{
	padding: 5px 16%;
  background: var(--bg-dark);
	border-bottom: 1px solid rgba(255, 255, 255,0.5);
}

/* ----------These are variables ---------- */
:root {
  --bg: #252a34;
  --bg-dark: rgb(15, 14, 14);;
  --color: #eaeaea;
  --light-color: #eaeaeaa4;
  --primary-color: #08d9d6;
  --secondary-color: #ff2e63;
  --font: 'Crimson Text', serif;
  --secondary-font: 'Work Sans', sans-serif;
  --bg-color: #020312b5;
  
}
body {
  background: var(--bg-dark);
  color: var(--color);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------- Home Page ---------- */
#main {
  width: 100%;
  top: 3.7rem;
  /* height: 50em; */
  padding: 5em 0;
  backdrop-filter: blur(0.7px);
  backdrop-filter: contrast(250px);
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}
#main::before {
  content: "";
  width: 100%;
  height: 30em;
  position: absolute;
  right: 25em;
  z-index: -1;
  background-color: rgb(15, 14, 14);
}
#main .user_info {
  margin: 0 30px;
}
#main .user_info .user_name {
  font-family: var(--font);
  font-size: 5em;
}
#main p {
  font-family: var(--secondary-font);
  font-size: 1.5em;
  color: var(--light-color);
  margin-bottom: 1.5em;
}
#main .user_img img {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  margin: 0 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.479);
}
#main .user_info .btn {
  padding: 0.6em 2em;
  background: none;
  color: var(--color);
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  transition: all 0.4s;
}
#main .user_info .btn:hover {
  background: var(--secondary-color);
}
#particles-js {
  width: 100%;
  position: absolute;
  z-index: -1;
}
/*About Section*/
.about {
  height: 100vh;
  background-color: rgb(15, 14, 14);
}
.ab-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 6rem;
  margin-right: 6rem;
  font-family: var(--secondary-font);
}
.ab-img {
  height: 27rem;
  width: 23rem;
  margin-left: 5rem;
  border-radius: 2px;
}
.ab-img:hover{
    cursor: pointer;
    box-shadow: rgba(122, 119, 119, 0.888) 0px 3px 10px;
}
.ab-p {
  font-size: large;
}
.ab-para {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 10rem;
  min-width: 20rem;
}
.ab-h {
  font-size: xx-large;
  font-weight: bolder;
  min-width: 4rem;
}

/* ---------- Skills section ---------- */
.skills {
  width: 100%;
  /* height: 50em; */
  margin: 2em 0;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
  background-color:rgb(15, 14, 14);;
}

.skills::before,
.skills::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  border-radius: 50%;
}
.skills::before {
  left: -10em;
  bottom: 0;
}
.skills::after {
  right: -10em;
  top: 8em;
}
.skill_box {
  flex-wrap: wrap;
}

.skill_box .box {
  margin: 2em 2em;
  width: 15em;
  height: 12em;
  background-color: rgb(15, 14, 14);
  background: rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.skill_box .box .fa-github{
  border-style: none;
}

.skill_box .box .fa-github:hover{
  color: white;
}
.skill_box .box::before {
  content: "";
  position: absolute;
  background: var(--secondary-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom;
  transform: scaleY(0.03);
  transition: all 0.3s;
}
.skill_box .box:hover::before {
  transform: scaleY(1);
}
.skill_box .box i {
  margin-bottom: 0.1em;
}
.skill_head {
  font-size: 5em;
  font-family: var(--font);
}

/* ---------- Projects ---------- */
#projects, #portfolio, #contact,.bg{
  background-color: rgb(15, 14, 14);
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.portfolio-content{
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
}
.row img{
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}
a:link{
  text-decoration: none;
}
.row{
  border: 2px solid rgba(255, 255, 255, 0.068);
	padding: 25px;
	background: rgba(20, 21, 27, 0.63);
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.row .a:link{
  text-decoration: none;
}
.main-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.row h3{
	font-size: 25px;
	font-weight: 700;
}
.row h6{
	color: var(--secondary-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.row-icon i{
	font-size: 21px;
}

.row:hover{
	transform: scale(1.05) translateY(-5px);
	cursor: pointer;
  box-shadow: var(--secondary-color) 0px 3px 10px;
}


/* ---------- Buttons ---------- */

.btn {
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  width: 145px;
  height: 45px;
  padding: 0.6em 2em;
  border-radius: 0.25rem;
  background-color: var(--bg-dark);
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
  border: 2px solid var(--secondary-color);

} 
.btn3 {
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  width: 30rem;
  padding: 0.6em 2em;
  left: 20px;
  height: 45px;
  border-radius: 0.25rem;
  background-color: var(--bg-dark);
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
  border: 2px solid var(--secondary-color);
} 

.btn-effect {
  position: relative;
  transform-style: preserve-3d;
  border-radius: 0;
}

.btn-effect .top-face,
.btn-effect .front-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.btn-effect .front-face {
  transform: translateZ(38.5px);
  background-color: var(--bg-dark);

}

.btn-effect .top-face {
  background-color: var(--secondary-color);
  color: #f3f3f3;
  transform: rotateX(90deg) translateZ(38.5px);
}

.btn-effect:hover {
  transform: rotateX(-90deg);
  transition: 0.35s ease-in-out;
}
.project-btn{
  padding-left: 45vw;
  
}

/* This is now css for contact*/

.contact {
  display: flex;
  justify-content: space-between;
  margin-left: 12rem;
  margin-right: 6rem;
  flex-direction: row;
}
.con-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-right: 1rem;
  color: #000;
}

.form{
  display: flex;
  position: absolute;
  margin-left: 40%;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.form .contact-form input{
  width: 30rem;
  background-color: transparent;
  border: 0px;
  border: transparent;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid #fff;
}
.form .contact-form input ~ span{
  position: absolute;
  left: 20px;
  transition: 0.5s ease-in-out;
  margin-top: 10px;
}
.form .contact-form input:focus ~span{
  transform: translateY(-20px);
  pointer-events: none;
}
.form .contact-form textarea{
  width: 30rem;
  border: 0px;
  background-color: transparent;
  margin: 20px;
  font-size: 17px;
  border-bottom: 2px solid white;
}
.form .contact-form textarea ~ span
{
  position: absolute;
  left: 20px;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}
.form .contact-form textarea:focus ~span{
  transform: translateY(-20px);
  pointer-events: none;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.h1 {
  font-size: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}
.text {
  display: flex;
  flex-direction: column;
}
.adr {
  display: flex;
  flex-direction: row;
}
/* ---------- Social Media Icons ---------- */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  margin-top: 3rem;
}
.fa-facebook {
  color: white;
  border: 1px solid white;
}

.fa-github {
  color: white;
  border: 1px solid white;
}

.fa-linkedin {
  color: white;
  border: 1px solid white;
}

.fa-instagram {
  color: white;
  border: 1px solid white;
}
.fa-whatsapp {
  color: white;
  border: 1px solid white;
}
.fa-whatsapp:hover {
  cursor: pointer;
  box-shadow: #27e650c4 0px 3px 6px;
  color: #27e650c4;
  border: 1px solid #27e650c4;
}
.fa-facebook:hover {
  cursor: pointer;
  box-shadow: #3b5998 0px 3px 6px;
  color: #3b5998;
  border: 1px solid #3b5998;
}
.fa-twitter:hover {
  cursor: pointer;
  box-shadow: #55acee 0px 3px 6px;
  color: #55acee;
  border: 1px solid #55acee;
}
.fa-github:hover {
  cursor: pointer;
  box-shadow: rgb(179, 179, 94) 0px 3px 6px;
  color: rgb(179, 179, 94);
  border: 1px solid rgb(179, 179, 94);
}

.fa-instagram:hover {
  cursor: pointer;
  box-shadow: var(--secondary-color) 0px 3px 6px;
  color: rgb(184, 45, 91);
  border: 1px solid rgb(184, 45, 91);
}
.fa-linkedin:hover {
  cursor: pointer;
  box-shadow: rgb(40, 103, 178) 0px 3px 6px;
  color: rgb(40, 103, 178);
  border: 1px solid rgb(40, 103, 178);
}

.top{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}
.top i{
	background: var(--secondary-color);
	color: #ffff;
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}
.top i:hover{
  box-shadow: var(--secondary-color) 0px 3px 6px;
  color: var(--secondary-color);
	background: rgba(255, 255, 255, 0.09);
  border: 1px solid var(--secondary-color);
}

/* .theme-button{
	position: fixed;
	bottom: 2.1rem;
	left: 2.1rem;
}
.theme-button i{
	background: var(--secondary-color);
	color: #ffff;
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}
.theme-button i:hover{
  box-shadow: var(--secondary-color) 0px 3px 6px;
  color: var(--secondary-color);
	background: rgba(255, 255, 255, 0.09);
  border: 1px solid var(--secondary-color);
  cursor: pointer;
} */


.light-mode{
  color: var(--bg);
  background-color: white;
}

/* This is CSS for footer */
.last-text p{
	text-align: center;
	padding: 20px;
	color: var(--color);
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 1px;

}
.end-icons{
  /* background-color: rgb(20, 20, 20); */
  text-align: center;
  right: 50px;
  padding-bottom: 20px;
  padding-top: -20px;
}

/* ---------- Media Queries ---------- */
@media (max-width: 1120px) {
  #main .user_img img {
    width: 25em;
    height: 25em;
  }
  .skills {
    height: 100%;
    padding: 5em 0;
  }
  .about {
    flex-direction: column;
  }
  .about div{
    width: 70%;
  }
  .projects{
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .skills {
    height: 100%;
    padding: 5em 0;
  }
  .skill_box .box {
    margin: 2em .6em;
    width: 12em;
    height: 8em;
  }
  .skill_head {
    font-size: 5em;
    font-family: var(--font);
  }
  .ab-img {
    font-size: 5em;
    margin-left: 4rem;
    font-family: var(--font);
  }
  .projects .project_heading {
    margin-bottom: 0.4em;
    font-size: 5em;
    font-family: var(--font);
  }

  .ab-text{
    display: block;
    font-size: 25px;    

  }
  .ab-p, .about{
    font-size: 25px;
  }
  .ab-img{
    margin-left: 50px;
  }
  .ab-para{
    /*margin-top: 2vh;*/
    padding-right: 2px;
    margin-left: 65px;
    margin-top: 20px;

  }
  #menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: -600px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #12141c;
		text-align: left;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1rem;
	}
	.navbar.active{
		top: 100%;
	}
}

@media (max-width: 770px) {
  .ab-text{
    display: block;
    /* padding-bottom: 100px; */
    font-size: 20px;
  }
  .ab-text .ab-p{
    padding-right: 4px;
    margin-right: 10px;
  }
  .ab-img{
    /* margin-left: -9.5vh; */
    height: 54vh;
    width: 42vh;
  }
  .hor-line{
    display: none;
  }
  .about{
    padding-bottom: 123vh;
  }
  .message{
    display: block;
  }
  .ab-para{
    margin-top: 0.5vh;
    /* margin-left: -8.5vh; */
    
  }
  .form{
      margin-left: -50px;
      /* background-color: red; */
      min-height: 10px;
      padding-top: 50px;
  }
  #contact{
    font-size: large;
  }
  .end-icons{
    margin-top: 45%;
    max-width:97%;
    border-radius: 100%;
  }
  .last-text{
    letter-spacing: 0px;
    font-size: large;
  }
  .form .contact-form input{
    width: 33rem;
  }
  .form .contact-form textarea{
    width: 33rem;
  }
  .btn3{
    width: 33rem;
  }
  .project-btn{
    padding-left: 40vw;
  }

}
@media (max-width: 700px) {
  body {
    font-size: 13px;
  }
  .skill_box .box{
    margin: 2em 0.5em;
    width: 12em;
    height: 8em;
  }
  .ab-text{
    display: block;
  }
  .ab-img{
    margin-left: 50px;
  }
  .ab-para{
    /*margin-top: 2vh;*/
    padding-right: 2px;
    margin-left: 65px;
    margin-top: 20px;

  }
  
  .user_info ,.user_name{
    font-size: small;
  }
 
  .contact{
    display: block;
    margin-left: 190px;

  }
  .ab-text{
    font-size: 15px;
  }
  
  .project{
    padding-bottom: 20px;
    text-align: center;
  }
  
  .text{
    font-size: medium;
    margin-left: 75px;
    padding-bottom: 45px;
  }
  .form{
    display: none;
  }



}

@media (max-width: 450px) {
  
  #main .user_img img{
    width: 20em;
    height: 20em;
  }
  .projects .container .main_box .icon{
    height: 100%;
    padding: 0.2em;
  }
  .projects .container .main_box {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2em 0.2em;
  }
  body{
    background-color: rgb(15, 14, 14);
    
  }
  .social{
    font-size: large;
  }
  .ab-text{
    display: block;
    padding-bottom: 100px;

  }
  .ab-text .ab-p{
    padding-right: 4px;
    margin-right: 10px;
    font-size: larger;
  }
  .hor-line{
    display: none;
  }
  .ab-img{
    margin-left: -9.5vh;
    height: 54vh;
    width: 42vh;
    
  }
  .about{
    padding-bottom: 130vh;
  }
  .message{
    display: block;
  }
  .ab-para{
    margin-top: 0.5vh;
    margin-left: -8.5vh;
    
  }
  .ab-p{
    font-size: 17px;
  }
  .project{
    display: block;
  }
 
  .contact{
    display: block;
    margin-left: 30px;

  }
  .portfolio-content{
    margin-left: -27px;
  }
  .row{
    border: 1px solid rgba(255, 255, 255, 0.068);
    padding: 19px;
    margin-right: 25px;
    margin-left: -2px;
    background: rgba(20, 21, 27, 0.63);
    border-radius: 0.5rem;
    transition: all .40s ease;
  }
  .temp{
    display: none;
  }
  .project-btn{
    padding-left: 28vw;
  }
  .end-icons{
    bottom: 0;
  }
  .last-text{
    font-size: 10px;
  }
  .text{
    font-size: medium;
    margin-left: -115px;
    padding-bottom: 45px;
  }
  .skill_box .box .fa-line-chart{
    padding-bottom: 4px;
    padding-top:10px;
  }
  .message .form{
    display: block;
    /* left: -10px; */
    right: 1px;
  }
  
  .form{
    min-height: 5vh;
  }
  
  .form .contact-form input{
    width: 20rem;
  }
  .form .contact-form textarea{
    width: 20rem;
  }
  .btn3{
    width: 20rem;
  }
  .end-icons{
    margin-top: 90%;
    max-width:97%;
    border-radius: 100%;
  }
  .last-text{
    letter-spacing: 0px;
  }
  .top{
    z-index: 1000;
  }

  
  #menu-icon{
		display: block;
	}
  .navbar{
		position: absolute;
		top: -600px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-dark);
		text-align: left;
		transition: all .40s ease;
    border: 1px solid rgba(255, 255, 255, 0.068);

	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1rem;
	}
	.navbar.active{
		top: 100%;
	}
}

@media (max-width: 350px) {
  body{
    font-size: 8px;
  }
}