@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--secondary-font);
  color: var(--color);
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --bg: #252a34;
  --bg-dark: rgb(15, 14, 14);
  ;
  --color: #eaeaea;
  --light-color: #eaeaeaa4;
  --primary-color: #08d9d6;
  --secondary-color: #ff2e63;
  --font: 'Crimson Text', serif;
  --secondary-font: 'Work Sans', sans-serif;
  --bg-color: #020312b5;
  --home-page-delay: 1s;
  --about-page-delay: calc(var(--home-page-delay) + 1s);
  --skills-page-delay: calc(var(--about-page-delay) + 1s);
  --project-page-delay: calc(var(--skills-page-delay) + 1s);
  --contact-page-delay: calc(var(--project-page-delay) + 1s);

}

body {
  background: var(--bg-dark);
  color: var(--color);
}

::selection{
  color: var(--secondary-color);
}
/* ----------Navigation Bar---------- */
header {
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 8px 6%;
  border-bottom: 1px solid transparent;
  transition: all .40s ease;
}

.logo img {
  width: 135px;
  height: auto;

}

.navbar {
  display: flex;
}

.active {
  background-color: var(--secondary-color);
}

.navbar a {
  color: var(--color);
  font-size: larger;
  font-weight: 600;
  padding: 10px 18px;
  margin: 0;
  border-radius: 0.5rem;
  transition: all .40s ease;
}

.navbar a:hover {
  background: var(--secondary-color);
  color: var(--color);
}

#menu-icon {
  font-size: 36px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Counting Animation */

.counters {
  margin-top: 30px;
  margin-left: -15px;
}

.couting {
  display: flex;
  padding: 5px;
  margin-left: 10px;
  font-size: larger;
  align-items: center;
  color: red;
}

.counters .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.counters i {
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 45px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page Animations */
#about {
  animation: article-load 300ms ease-in var(--about-page-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  animation-duration: 1s;
  opacity: 0;
}

#Skills {
  animation: article-load 300ms ease-in var(--skills-page-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  animation-duration: 1s;
  opacity: 0;
}

#portfolio {
  animation: article-load 300ms ease-in var(--project-page-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  animation-duration: 1s;
  opacity: 0;
}

#contact {
  animation: article-load 300ms ease-in var(--contact-page-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  animation-duration: 1s;
  opacity: 0;
}

h1,
body {
  animation: article-load 300ms ease-in var(--home-page-delay);
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}




/* ---------- Home Page ---------- */
#main {
  width: 100%;
  padding: 2em 0;
  backdrop-filter: blur(0.7px);
  backdrop-filter: contrast(250px);
  position: relative;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

#main::before {
  content: "";
  width: 100%;
  height: 30em;
  position: absolute;
  right: 25em;
  z-index: -1;
  background-color: rgb(15, 14, 14);
}

#main .user_info {
  margin: 0 30px;
}

#main .user_info .user_name {
  font-family: var(--font);
  font-size: 4.5em;
}

#main .user_info .user_intro {
  display: flex;
}

#main .user_info .user_image {
  width: 70px;
  height: 70px;
}

#main p {
  font-family: var(--secondary-font);
  font-size: 1.5em;
  color: var(--light-color);
  margin-bottom: 1.5em;
}

#main .user_img img {
  width: 30em;
  height: 30em;
  border-radius: 50%;
  margin: 0 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.479);
}


#main .user_info .btn {
  padding: 0.6em 2em;
  background: none;
  color: var(--color);
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--secondary-color);
  transition: all 0.4s;
}

#main .user_info .btn:hover {
  background: var(--secondary-color);
}

#particles-js {
  width: 100%;
  position: absolute;
  z-index: -1;
}

/*About Section*/
.about {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.display {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ab-img {
  max-width: 60%;
}

.intro {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.intro .ab-p {
  max-width: 90%;
  padding: 2% 0;
  text-align: justify
}


/* ---------- Skills section ---------- */
.skills {
  width: 100%;
  margin: 3px 0 2em 0;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
  background-color: rgb(15, 14, 14);
}

.skills::before,
.skills::after {
  content: "";
  position: absolute;
  width: 20em;
  height: 20em;
  border-radius: 50%;
}

.skills::before {
  left: -10em;
  bottom: 0;
}

.skills::after {
  right: -10em;
  top: 8em;
}

.skill_box {
  flex-wrap: wrap;
}

.skill_box .box {
  margin: 2em 2em;
  width: 15em;
  height: 12em;
  background-color: rgb(15, 14, 14);
  background: rgba(255, 255, 255, 0.089);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.skill_box .box .fa-github {
  border-style: none;
}

.skill_box .box .fa-github:hover {
  color: white;
}

.skill_box .box::before {
  content: "";
  position: absolute;
  background: var(--secondary-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom;
  transform: scaleY(0.03);
  transition: all 0.3s;
}

.skill_box .box:hover::before {
  transform: scaleY(1);
}

.skill_box .box i {
  margin-bottom: 0.1em;
}

.skill_head, .page_head {
  font-size: 5em;
  font-family: var(--font);
  text-align: center;
}

.node-icon,
.mongo-icon,
.react-icon,
.data-icon,
.native-icon,
.tailwind-icon {
  width: 70px;
  height: 70px;
  padding-bottom: 10px;

}

/* ---------- Projects ---------- */
#projects,
#portfolio,
#contact,
.bg {
  background-color: rgb(15, 14, 14);
}

.portfolio-content {
  padding-bottom: 45px;
  padding-left: 45px;
  padding-right: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.row img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

a:link {
  text-decoration: none;
}

.row {
  border: 2px solid rgba(66, 64, 64, 0.877);
  padding: 25px;
  background: rgba(20, 21, 27, 0.63);
  border-radius: 0.5rem;
  transition: all .40s ease;
}

.row .a:link {
  text-decoration: none;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.row h3 {
  font-size: 25px;
  font-weight: 700;
}

.row h6 {
  color: rgba(160, 154, 154, 0.877);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.row-icon i {
  font-size: 21px;
}

.row:hover {
  transform: scale(1.05) translateX(3) translateY(-5px);
  cursor: pointer;
  box-shadow: rgba(122, 119, 119, 0.888) 0px 3px 10px;
}

/* ---------- Buttons ---------- */
.btn {
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  width: 145px;
  height: 45px;
  padding: 0.6em 2em;
  border-radius: 0.25rem;
  background-color: var(--bg-dark);
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
  border: 2px solid var(--secondary-color);

}

.btn3 {
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  width: 30rem;
  padding: 0.6em 2em;
  left: 20px;
  height: 45px;
  border-radius: 0.25rem;
  background-color: var(--bg-dark);
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
  border: 2px solid var(--secondary-color);
}

.btn-effect {
  position: relative;
  transform-style: preserve-3d;
  border-radius: 0;
}

.btn-effect .top-face,
.btn-effect .front-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.btn-effect .front-face {
  transform: translateZ(38.5px);
  background-color: var(--bg-dark);

}

.btn-effect .top-face {
  background-color: var(--secondary-color);
  color: #f3f3f3;
  transform: rotateX(90deg) translateZ(38.5px);
}

.btn-effect:hover {
  transform: rotateX(-90deg);
  transition: 0.35s ease-in-out;
}

.project-btn {
  padding-left: 45vw;

}

/* Contact section */
.contact {
  display: flex;
  justify-content: space-between;
  margin-left: 12rem;
  margin-right: 6rem;
  flex-direction: row;
}

.con-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-right: 1rem;
  color: #000;
}

.form {
  display: flex;
  position: absolute;
  margin-left: 40%;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding-top: 2rem;
}

.form .contact-form input {
  width: 30rem;
  background-color: transparent;
  border: 0px;
  border: transparent;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 2px solid #fff;
}

.form .contact-form input~span {
  position: absolute;
  left: 20px;
  transition: 0.5s ease-in-out;
  margin-top: 10px;
}

.form .contact-form input:focus~span {
  transform: translateY(-20px);
  pointer-events: none;
}

.form .contact-form textarea {
  width: 30rem;
  border: 0px;
  background-color: transparent;
  margin: 20px;
  font-size: 17px;
  border-bottom: 2px solid white;
}

.form .contact-form textarea~span {
  position: absolute;
  left: 20px;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}

.form .contact-form textarea:focus~span {
  transform: translateY(-20px);
  pointer-events: none;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.h1 {
  font-size: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: column;
}

.adr {
  display: flex;
  flex-direction: row;
}

.mobile-br {
  display: none;
}

/* ---------- Social Media Icons ---------- */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  margin-top: 3rem;
  color: var(--secondary-color);
}

.fa-facebook {
  color: white;
  border: 1px solid white;
}

.fa-github {
  color: white;
  border: 1px solid white;
}

.fa-linkedin {
  color: white;
  border: 1px solid white;
}

.fa-instagram {
  color: white;
  border: 1px solid white;
}

.fa-whatsapp {
  color: white;
  border: 1px solid white;
}

.fa-whatsapp:hover {
  cursor: pointer;
  box-shadow: #27e650c4 0px 3px 6px;
  color: #27e650c4;
  border: 1px solid #27e650c4;
}

.fa-facebook:hover {
  cursor: pointer;
  box-shadow: #3b5998 0px 3px 6px;
  color: #3b5998;
  border: 1px solid #3b5998;
}

.fa-twitter:hover {
  cursor: pointer;
  box-shadow: #55acee 0px 3px 6px;
  color: #55acee;
  border: 1px solid #55acee;
}

.fa-github:hover {
  cursor: pointer;
  box-shadow: rgb(179, 179, 94) 0px 3px 6px;
  color: rgb(179, 179, 94);
  border: 1px solid rgb(179, 179, 94);
}

.fa-instagram:hover {
  cursor: pointer;
  box-shadow: var(--secondary-color) 0px 3px 6px;
  color: rgb(184, 45, 91);
  border: 1px solid rgb(184, 45, 91);
}

.fa-linkedin:hover {
  cursor: pointer;
  box-shadow: rgb(40, 103, 178) 0px 3px 6px;
  color: rgb(40, 103, 178);
  border: 1px solid rgb(40, 103, 178);
}

.top {
  position: sticky;
  bottom: 2.1rem;
  left: 93.75%;
}

.top i {
  background: var(--secondary-color);
  color: #ffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

.top i:hover {
  box-shadow: var(--secondary-color) 0px 3px 6px;
  color: var(--secondary-color);
  background: rgba(255, 255, 255, 0.09);
  border: 1px solid var(--secondary-color);
}


.last-text p {
  text-align: center;
  padding: 20px;
  color: var(--color);
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.end-icons {
  text-align: center;
  right: 50px;
  padding-bottom: 20px;
  padding-top: -20px;
}

/* ---------- Media Queries ---------- */
@media (max-width: 1120px) {
  #main .user_img img {
    width: 25em;
    height: 25em;
  }

  .skills {
    height: 100%;
    padding: 5em 0;
  }


  .about {
    flex-direction: column;
    height: fit-content;
  }
  .mobile-hr{
    display: none;
  }
  .display, .intro{
    width: 100%;
  }
  .intro h1{
    padding-left: 5%;
    align-self: flex-start;
  }
  .display .ab-img{
    max-width: 40%;
  }
  .intro{
    padding: 5% 0;
    align-items: center;
    justify-content: center;
  }

  .projects {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .skills {
    height: 100%;
    padding: 5em 0;
  }

  .skill_box .box {
    margin: 2em .6em;
    width: 12em;
    height: 8em;
  }

  .projects .project_heading {
    margin-bottom: 0.4em;
    font-size: 5em;
    font-family: var(--font);
  }


  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #12141c;
    text-align: left;
    transition: all .40s ease;
  }

  .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }

  .navbar.active {
    top: 100%;
  }
}

@media (max-width: 770px) {

  .hor-line {
    display: none;
  }

  .message {
    display: block;
  }

  .form {
    margin-left: -50px;
    min-height: 10px;
    padding-top: 50px;
  }

  #contact {
    font-size: large;
  }

  .end-icons {
    margin-top: 45%;
    max-width: 97%;
    border-radius: 100%;
  }
  .display .ab-img{
    max-width: 80%;
  }

  .last-text {
    letter-spacing: 0px;
    font-size: large;
  }

  .form .contact-form input {
    width: 33rem;
  }

  .form .contact-form textarea {
    width: 33rem;
  }

  .btn3 {
    width: 33rem;
  }

  .project-btn {
    padding-left: 40vw;
  }

}

@media (max-width: 700px) {
  body {
    font-size: 13px;
  }

  .skill_box .box {
    margin: 2em 0.5em;
    width: 12em;
    height: 8em;
  }

  .user_info,
  .user_name {
    font-size: small;
  }

  .contact {
    display: block;
    margin-left: 190px;

  }
  .text {
    /* font-size: medium; */
    /* margin-left: 75px; */
    /* padding-bottom: 45px; */
    text-align: center;
    font-size: larger;
  }

  .form {
    display: none;
  }

  .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .counters .container>div:nth-of-type(1),
  .counters .container>div:nth-of-type(2) {
    padding-bottom: 20px;
  }
}

@media (max-width: 450px) {

  #main .user_img img {
    width: 20em;
    height: 20em;
  }

  #main .user_info .user_image {
    display: none;
  }

  .projects .container .main_box .icon {
    height: 100%;
    padding: 0.2em;
  }

  .projects .container .main_box {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2em 0.2em;
  }

  body {
    background-color: rgb(15, 14, 14);

  }

  .social {
    font-size: large;
  }

  .hor-line {
    display: none;
  }

  .special-br {
    display: none;
  }

  .intro{
    padding: 10% 0;
  }
  .display .ab-img {
    padding-top: 5%;
    max-width: 80%;
  }

  .message {
    display: block;
  }

  .project {
    display: block;
  }

  .contact {
    display: block;
    margin-left: 30px;

  }

  .react-icon,
  .node-icon,
  .mongo-icon,
  .data-icon,
  .native-icon,
  .tailwind-icon {
    width: 55px;
    height: 55px;
  }

  .mobile-br {
    display: block;
  }

  .row {
    border: 1px solid rgba(255, 255, 255, 0.068);
    padding: 19px;
    /* margin-right: 35px; */
    /* margin-left: -2px; */
    background: rgba(20, 21, 27, 0.63);
    border-radius: 0.5rem;
    transition: all .40s ease;
  }
  .portfolio-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-btn {
    padding-left: 28vw;
  }

  .end-icons {
    bottom: 0;
  }

  .last-text {
    font-size: 10px;
  }

  .text {
    font-size: medium;
    margin-left: -115px;
    padding-bottom: 45px;
    text-align: left;
    /* font-size: large; */
  }
  

  .skill_box .box .fa-line-chart {
    padding-bottom: 4px;
    padding-top: 10px;
  }

  .message .form {
    display: block;
    right: 1px;
    margin-top: -5rem;
  }

  .form {
    min-height: 5vh;
  }

  .form .contact-form input {
    width: 20rem;
  }

  .form .contact-form textarea {
    width: 20rem;
  }

  .btn3 {
    width: 20rem;
  }

  .end-icons {
    margin-top: 90%;
    max-width: 97%;
    border-radius: 100%;
  }

  .last-text {
    letter-spacing: 0px;
  }

  .top {
    z-index: 1000;
  }


  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-dark);
    text-align: left;
    transition: all .40s ease;
    border: 1px solid rgba(255, 255, 255, 0.068);

  }

  .navbar a {
    display: block;
    padding: 1rem;
    margin: 1rem;
  }

  .navbar.active {
    top: 100%;
  }

  .row {
    border: 2px solid rgba(255, 255, 255, 0.137);

  }

  .top {
    position: sticky;
    bottom: 2.1rem;
    left: 83%;
  }

  .main-br {
    display: none;
  }
}

@media (max-width: 350px) {
  body {
    font-size: 8px;
  }
}
